<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.falado.whs.dao.WHSDeviceMapper">
  <resultMap id="BaseResultMap" type="xyz.falado.whs.model.WHSDevice">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="device_name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="device_code" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="model" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="spec" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="param" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="remark" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="mechanical_hours" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="electrical_hours" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="other_hours" javaType="java.lang.Integer" jdbcType="INTEGER" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, device_name, device_code, model, spec, param, remark, mechanical_hours, electrical_hours,
    other_hours
  </sql>
  <select id="selectByExample" parameterType="xyz.falado.whs.model.WHSDeviceExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from WHS_DEVICES
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from WHS_DEVICES
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from WHS_DEVICES
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="xyz.falado.whs.model.WHSDeviceExample">
    delete from WHS_DEVICES
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="xyz.falado.whs.model.WHSDevice">
    insert into WHS_DEVICES (id, device_name, device_code,
      model, spec, param,
      remark, mechanical_hours, electrical_hours,
      other_hours)
    values (#{id,jdbcType=INTEGER}, #{deviceName,jdbcType=VARCHAR}, #{deviceCode,jdbcType=VARCHAR},
      #{model,jdbcType=VARCHAR}, #{spec,jdbcType=VARCHAR}, #{param,jdbcType=VARCHAR},
      #{remark,jdbcType=VARCHAR}, #{mechanicalHours,jdbcType=INTEGER}, #{electricalHours,jdbcType=INTEGER},
      #{otherHours,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="xyz.falado.whs.model.WHSDevice">
    insert into WHS_DEVICES
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="deviceName != null">
        device_name,
      </if>
      <if test="deviceCode != null">
        device_code,
      </if>
      <if test="model != null">
        model,
      </if>
      <if test="spec != null">
        spec,
      </if>
      <if test="param != null">
        param,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="mechanicalHours != null">
        mechanical_hours,
      </if>
      <if test="electricalHours != null">
        electrical_hours,
      </if>
      <if test="otherHours != null">
        other_hours,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="deviceName != null">
        #{deviceName,jdbcType=VARCHAR},
      </if>
      <if test="deviceCode != null">
        #{deviceCode,jdbcType=VARCHAR},
      </if>
      <if test="model != null">
        #{model,jdbcType=VARCHAR},
      </if>
      <if test="spec != null">
        #{spec,jdbcType=VARCHAR},
      </if>
      <if test="param != null">
        #{param,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="mechanicalHours != null">
        #{mechanicalHours,jdbcType=INTEGER},
      </if>
      <if test="electricalHours != null">
        #{electricalHours,jdbcType=INTEGER},
      </if>
      <if test="otherHours != null">
        #{otherHours,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="xyz.falado.whs.model.WHSDeviceExample" resultType="java.lang.Long">
    select count(*) from WHS_DEVICES
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update WHS_DEVICES
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.deviceName != null">
        device_name = #{record.deviceName,jdbcType=VARCHAR},
      </if>
      <if test="record.deviceCode != null">
        device_code = #{record.deviceCode,jdbcType=VARCHAR},
      </if>
      <if test="record.model != null">
        model = #{record.model,jdbcType=VARCHAR},
      </if>
      <if test="record.spec != null">
        spec = #{record.spec,jdbcType=VARCHAR},
      </if>
      <if test="record.param != null">
        param = #{record.param,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.mechanicalHours != null">
        mechanical_hours = #{record.mechanicalHours,jdbcType=INTEGER},
      </if>
      <if test="record.electricalHours != null">
        electrical_hours = #{record.electricalHours,jdbcType=INTEGER},
      </if>
      <if test="record.otherHours != null">
        other_hours = #{record.otherHours,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update WHS_DEVICES
    set id = #{record.id,jdbcType=INTEGER},
      device_name = #{record.deviceName,jdbcType=VARCHAR},
      device_code = #{record.deviceCode,jdbcType=VARCHAR},
      model = #{record.model,jdbcType=VARCHAR},
      spec = #{record.spec,jdbcType=VARCHAR},
      param = #{record.param,jdbcType=VARCHAR},
      remark = #{record.remark,jdbcType=VARCHAR},
      mechanical_hours = #{record.mechanicalHours,jdbcType=INTEGER},
      electrical_hours = #{record.electricalHours,jdbcType=INTEGER},
      other_hours = #{record.otherHours,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="xyz.falado.whs.model.WHSDevice">
    update WHS_DEVICES
    <set>
      <if test="deviceName != null">
        device_name = #{deviceName,jdbcType=VARCHAR},
      </if>
      <if test="deviceCode != null">
        device_code = #{deviceCode,jdbcType=VARCHAR},
      </if>
      <if test="model != null">
        model = #{model,jdbcType=VARCHAR},
      </if>
      <if test="spec != null">
        spec = #{spec,jdbcType=VARCHAR},
      </if>
      <if test="param != null">
        param = #{param,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="mechanicalHours != null">
        mechanical_hours = #{mechanicalHours,jdbcType=INTEGER},
      </if>
      <if test="electricalHours != null">
        electrical_hours = #{electricalHours,jdbcType=INTEGER},
      </if>
      <if test="otherHours != null">
        other_hours = #{otherHours,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="xyz.falado.whs.model.WHSDevice">
    update WHS_DEVICES
    set device_name = #{deviceName,jdbcType=VARCHAR},
      device_code = #{deviceCode,jdbcType=VARCHAR},
      model = #{model,jdbcType=VARCHAR},
      spec = #{spec,jdbcType=VARCHAR},
      param = #{param,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      mechanical_hours = #{mechanicalHours,jdbcType=INTEGER},
      electrical_hours = #{electricalHours,jdbcType=INTEGER},
      other_hours = #{otherHours,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectByKeyWord" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from WHS_DEVICES
    where device_name like #{keyword}
    or device_code like #{keyword}
  </select>
</mapper>